 
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Amano society of pure and applied physics, <%= @user.firstname %></h1>
    <p>
      You have successfully signed up to www.aspap.org,
    </p>
    <p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html