<div class="row">
  <div class="col-md custom_wrapper">        
    <div class="panel">
      <div class="aspap_journals">
        <h3 id="form-header">THE EDITORIAL TEAM (ROLES)</h3>
            The editorial team is composed of the chief editor, the deputy chief editor, manuscript editors, web editors and peer reviewers.
        <h4>1. Editor-in-chief or Chief Editor (VIP rights)</h4>
        <br>
            <strong>Duties</strong>
        <br>
        
        1. Manages editorial personnel:-
        <br>
        <br>
        <p style="margin-left: 16px;">
        (a)Approves applications to the editorial team<br><br>
        (b) Assigns work to editors and gives supervision and guidance where necessary.
        </p>
        <br>
        2. Review all manuscripts submitted to the editorial desk.
        <br>
        <br>
        3. Provide the final decision for what material should and should not be published or what manuscripts ought to be accepted or rejected.
        <br>
        <br>
        4. Promote Amano journals by motivating and encouraging authors to submit manuscripts and by offering topic proposals.
        <br>
        <br>
        5. Give advise and guidelines to authors on the publishing process, on the ethics and on policies of publishing in ASPAP journals.
        <br>
        <br>
        6. Respond to authors’, readers’ and reviewers’ questions, complaints, reviews or thanks pertaining to the published content.
        <br>
        <br>
        7. Work to maintain, and even improve the quality of ASPAP journals and magazines.
        <br>
        <br>
        8. Ensure that integrity of the journals and magazines is preserved by accepting only valid, original and non-plagiarised manuscripts.


        <br>
        <br>
        <h4>2. Deputy Chief Editor (VIP rights)</h4>
        <br
            <strong>Duties</strong>
        <br>
        
        1. Act as Editor-in-chief in the absence of the Editor-in-chief.
        <br>
        <br>
        2. Offer assistance and advice to the Editor-in-chief in accomplishing and perfecting his/her duties and tasks.
        <br>
        <br>
        3. Promote ASPAP journals and other periodicals such as ASPAP magazines on various
            platforms on social media and by means of inviting colleagues and other acquaintances to
            submit manuscripts.
        <br>
        <br>
        4. Offer advice, guidance and topic proposals to authors wishing to publish in ASPAP journals.
     
     
        <br>
        <br>
        <h4>3. Manuscript Editor (editor rights)</h4>
        
        Manuscript editors are professionals and competent scholars<strong> (belonging to The Amano Society of Pure and Applied Physics) </strong>in their field who have demonstrated high calibre in writing and academic research. Their duties are as follows:
        <br>
        <br>

        <strong>Duties</strong>
        <br>
        1. Reviewing manuscripts and counter-checking them for nuances such as writing style,spelling, originality, presentation and validity of the content in the manuscript.
        <br>
        <br>
        2. Inviting colleagues and acquaintances to submit manuscripts.
        <br>
        <br>
        3. Offer advice to the editor-in-chief on matters pertaining to the publication process.
        <br>
        <br>
        4. Give suggestions of potential peer-reviewers, editors and authors to the editor-in-chief.
        <br>
        <br>

        <h4>4. Web editors (publisher rights)</h4>

        Web editors are responsible for editing and publishing all non-technical articles on the ASPAP website. In addition, web editors play an important role in improving the quality of any publishable content by readily formatting it and editing it for the website. This includes editing manuscripts by web users, correcting and conveniently rephrasing unclear questions in discussions and so on. In summary, the duties are as follows.

        <br>
        <br>

        <strong>Duties</strong>
        <br>
        1. Format manuscripts in readiness for online publication.
        <br>
        <br>
        2. Improve the quality of the appearance and presentation of the manuscript especially for online platforms to be published on the ASPAP website or sent as email updates to online subscribers.
        <br>
        <br>
        3. Promote ASPAP journals on various online platforms such as social media pages and international scientific websites.
        4. Inviting colleagues and acquaintances to submit manuscripts.
        <br>
        <br>
        5. Offer advice to the editor-in-chief on matters pertaining to the publication process.
        <br>
        <br>
        6. Give suggestions of potential peer-reviewers, authors and editors to the editor-in-chief.



        <br>
        <br>
        <h4>5. Peer-reviewers (peer reviewer rights)</h4>

            Peer-reviewers are experts in particular fields of<strong> physics who are not members of the Publication action group nor of ASPAP</strong>. They are external reviewers who take part in the reviewing process by offering their professional opinions on manuscripts sent to them. Upon reading a manuscript, a peer-reviewers states his/her opinion as to whether the manuscript should be rejected, accepted or revised first before it can be considered fit for publication. They communicate these views to the editor-in-chief who then makes the final decision based on various opinions of the reviewers. The role of the peer-reviewer can be summarized in the following points:
        <br>
        <br>

        <strong>Duties</strong>
        <br>
        1. Reviewing manuscripts and offering professional opinion on matters such as writing style, originality, presentation, and validity of the content in the manuscript.
        <br>
        <br>
        2.. Offer advice to the editor-in-chief as to whether the manuscript should be rejected, accepted or accepted with revision.
        <br>
        <br>
        3.  Write comments addressed to the author on how and why they arrived to the decision that they did.
        <br>
        <br>
        4. Give advice and suggestions addressed to the author on how the manuscript can be revised and improved (in the case of a “revision” decision) or how such errors can be avoided in future (in the case of a rejection).
        <br>
        <br>

      </div>
      <div class="btn btn-default"><%= link_to "JOIN THE EDITORIAL TEAM" , new_editor_path  %></div>
    </div>
  </div>
</div>

