<%= form_for([@article, @articomment]) do |form| %>
 

  <div class="form-group">
    <%= form.text_area :body, id: :comment_body, :placeholder =>"Type your comment here!", :required => true, class: "form-control" %>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Add A Comment" data-disable-with="Create Articomment">
  </div>
<% end %>
