<div class="main-content">
	<div class="journal-header">
		<p>The ASPAP Constitution</p>
	</div>
	<div class="document">
		<iframe src="<%= @constitution.document %>" style="width: 100%; height: 600px;" frameborder="0"> </iframe>
  </div>
</div>

