<div class="panel">
	<div class="journal-header">
		<p>What is ASPAP ?</p>
	</div>
	<div class="aspap_journals">
		<h3 id="form-header">The Amano Society of Pure and Applied Physics</h3>
		<strong>About</strong>
		<br>

		The Amano Society of Pure and Applied Physics is a research organization and growing network of Zambian scientists, engineers, mathematicians and technologists actively engaged or interested in carrying out research in various aspects of pure and applied physics.
		The Amano Society was founded in 2017 by T. Kabengele and H. Mwenda as an initiative to unite Zambia’s great minds and contribute to the development of the nation through active research and publishing.
		The Society is a youthful and very welcoming community for anyone who is involved in or ready to take up scientific research at a professional and advanced level.
		<br>
		<br>
		
		<strong>Aims</strong>
		<br>
		The goals of ASPAP can be summarized in the following points:
		<br>
		<br>
		1. Unite like-minded Zambians interested in physics and physics related research at an advanced level.
		<br>
		<br>
		2. Promote the research achievements of Zambian scientists.
		<br>
		<br>
		3. Promote physics in the Zambian society and the world at large through publishing and other communications with both professionals and the general public.
		<br>
		<br>
		4. Create a communication network between researchers and industry.
		<br>
		<br>
		5. Empower young people to become active researchers in future who will be able to do even greater things for the country and for humanity as a whole.
		<br>
		<br>
		<strong>Our members</strong>
		<br>			
		The ASPAP team is primarily composed of young people in the early stages of their research careers. All our members typically hold a degree or higher in physics, chemistry, mathematics, engineering or related field. However, individuals who do not yet possess a degree but are in the process of obtaining one are highly encouraged to <%= link_to "join the team", new_user_registration_path %> and get involved in professional scientific research very early in their careers.
		<br>
		<br>
		<strong>Our research</strong>
		<br>	
		The Amano society of pure and applied physics is primarily interested in making significant contributions in physics including atomic, molecular and optical physics, nanotechnology, renewable energy, cosmology, astronomy and astrophysics, theoretical physics, nuclear physics, electronics among many others. Furthermore, individuals with expertise and interests in other fields besides physics are encouraged to take up interdisplinary research in fields such as biophysics, geophysics, chemical physics just to mention a few. So, whoever you are and whatever your research interests are, there is always something for you to do at ASPAP. You can have a look at our recent projects 
		<%= link_to "here", new_research_path %>.

	</div>
</div>

