<div id="api">
	<p style="font-size: 16px; text-align: center; color: green;">
	<span><%= @res.code %></span>
	<span><%= @res.message %></span>
	</p>	
	<p style="font-size: 16px; text-align: center; color: green;">
	<span><%= @res.body %></span>
	</p>
	<p>
		<%= @check %>
	</p>

</div>