<div class="panel">
  <div class="aspap_journals">
    <h3 id="form-header">ASPAP Journals</h3>
    The scientific and academic community in Zambia, as regarding to research and
    professional scientific publication in fundamental science such as physics has been
    very silent from since time immemorial. Somehow, academic research appears not to
    be prioritized, at best, and neglected and forgotten at worst; an evil which has cost us
    the development of our nation technologically, and in consequence, economically as
    well. In order to amend this seemingly lost cause, The Amano Society of Pure and
    Applied Physics as a private research and academic organization shall periodically
    publish various journals of various kinds in the categories of pure and applied physics
    in hopes to pioneer a scientific and technological revolution in our humble nation,
    Zambia. The first journal being prepared by ASPAP has been named <strong> Amano Physics A: Pure and Applied.</strong>
    <br>
    <br>
    <h4>AMANO PHYSICS A: PURE AD APPLIED</h4>
    This journal shall publish advances in pure and applied physics by Zambian scholars and researchers. The journal shall also accept manuscript from external researchers both locally and internationally, on the condition that at least one of the co-authors is an ASPAP researcher.
    <br>
    <br>
    <h4>AIM</h4>

    The aims of AMANO PHYSICS A: PURE AD APPLIED are:
    <br>
    1. Pioneer scientific publication and research in pure and applied physics.
    <br>
    <br>
    2. Provide fundamental data and scientific basis for future technological advancements, research and innovation by local scientists, engineers and entrepreneurs.
    <br>
    <br>
    3. Promote the work of local scientists to the rest of the world.
    <br>
    <br>
    4. Inspire more and more scholars to engage in serious professional science and research activities.
    <br>
    <br>
    5. Establish a strong professional communication network among local physicists and between researchers and industries.
    <br>
    <br>
    6. Raise the standards of science and research in Zambia.
    <br>
    <br>
    <h4>SCOPE OF WORK</h4>
    Amano Physics A: Pure ad Applied shall be confined to publishing work in the
    categories of pure and applied physics(including interdisplinary fields with science, mathematics and
    engineering) at the level of complexity and seriousness no less
    than a bachelor’s degree thesis or a physics conference paper. This means that all manuscripts submitted to the editorial desk should not be trivial, amateurish or be attempting to solve problems that can be easily solved in the scope of advanced high school or junior University /college science and maths. ASPAP shall only publish work
    that is professional, authentic and non-trivial. In order to ensure quality work and high levels of professionalism, researchers at ASPAP are required to have a minimum of a Bachelor’s degree in a physics/mathematics related field from a recognized institution. However, this does not guarantee that one’s manuscript will be accepted based simply on their academic credentials. ASPAP shall not judge work on the basis of the academic credentials of the author(s) but on the validity and level of quality and seriousness of the work itself.

    <br>
    <br>

    <h4>Types of articles published</h4>
    In Amano Physics A: Pure ad Applied, letters, review letters and full articles shall be published. A description of each is given below.
    <br>
    <br>
    <strong>Letters</strong>
    <br>
    These are short and brief articles (with maximum length of approximately 3 pages) which are published more urgently and rapidly than full long articles. In these short communications, the researchers present latest significant advances in their research requiring quicker and
    urgent publication. The authors, henceforth, prepare their manuscripts in accordance with the recommendations and guidelines of the journal (a template is available for the format of ASPAP journals, which, with a few minor edits, can easily be adapted for letters, review letters or full article accordingly).
    Review letters
    Review letters, unlike full articles and letters, review letters do not present any new scientific findings per say, but simply address a particular topic or problem by means of strategically comparing and analysing recent advances on that particular topic, thereby providing professional assessment on the current status of a problem, thereby giving insight on how it may be solved in the near future. Review letters also help scholars and researchers not specialized in that


    <br>
    <br>
    <strong>Review letters</strong>
    <br>
    Review letters, unlike full articles and letters, review letters do not present any new scientific findings per say, but simply address a particular topic or problem by means of strategically comparing and analysing recent advances on that particular topic, thereby providing professional assessment on the current status of a problem, thereby giving insight on how it may be solved in the near future. Review letters also help scholars and researchers not specialized in that
    particular topic to obtain a general understanding of the subject. University and senior college students find review letters particularly helpful especially when completing their undergraduate or masters theses. Review letters are often very long (even longer than full articles in fact), almost the length of a full academic book, many ranging from about 30 to even over a hundred pages long. It is also statistically true that the most cited articles are review letters, despite being the minority in most scientific journals (Over 90% of papers published in scientific journals is original work i.e. full articles and letters presenting new data).
    Full articles
    <br>
    Full articles are similar to letters, except they are longer (roughly ranging from 7 - 30 pages for physics papers). Full articles present data in good detail and are the default for scientific writing. When submitting manuscripts authors should specify the type of article they wish to
    publish. It is also advised (not compulsory) that a supporting letter of motivation should
    be attached to the manuscript describing the purpose and motivation for completing the
    work presented in the manuscript.


  </div>
  <div class="btn btn-default"><%= link_to "Publish To our Journals" , new_manuscript_path  %></div>
</div>

