<div class="panel">
  <div class="aspap_journals">
    <h2 id="form-header">Publishing Process </h2>
    <h3>PUBLISHING ETHICS AND POLICIES</h3>
        In order to guarantee the successful and organized flow of the publishing process, there ought to exist ethics and policies upon which the author, journal and publishing house ought to abide. In this section, we shall discuss the important ethics and policies for publishing in ASPAP journals.

        <br>
    <h3>ETHICS</h3>
    Before submission of the manuscript, authors have to ensure that none of the ethics outlined below are violated.
    Authors should not submit the same manuscript to multiple journals.
    <br>
    <br>
    <strong>Single Submission</strong>
    <br>
    Authors should not submit the same manuscript to multiple journals.
    <br>
    <br>
    <strong>Submission</strong>
    <br>
    Authors should not submit work that has been previously published before in other journals or in ASPAP journals, even if they are the authors of the work. Every manuscript ought to be unique, original and distinct from other manuscripts submitted before.
    <br>
    <br>
    <strong>Plagiarism</strong>
    <br>
    Authors should not submit work that is not theirs and pass it off as their own. Extraction of
    text, data, images etc., and compiling them in one article in an attempt to deceive the editors that it is original work is strictly forbidden. In other instances, it is even punishable by law. 
    <br>
    <br>
    <strong>Acknowledgements</strong>
    <br>
    Authors should give acknowledgements on any material or content that was borrowed from other authors’ work. It is also prohibited to use other authors’ data, graphs, images etc., without permission.
    <br>
    <br>
    <strong>Fraud</strong>
    <br>
    Authors should not manipulate, fabricate or falsify data in order to suit their agenda. This is
    also punishable by law. All data and results presented in the manuscript should be genuine and unbiased. Apart from that, some authors will also try to deliberately misinterpret data, present only one side of the argument by not disclosing the factor of error which may exist in their theories or experiments. This is also another form of fraud which is strictly prohibited in
    science.
    <br>
    <br>
    <strong>Authorship and co-authorship</strong>
    <br>
    The leading author (who is the one responsible for the submission of the article to the journal) ought to include the names of his/her co-authors. A leading author is the one who made the greatest contribution to the work, and thus, his/her name appears first when presenting the manuscript regardless of his/her academic credentials or whether he/she was working under supervision. Co-authors are those researchers who made significant intellectual contributions to the work, who shall take public responsibility for the data and conclusions provided in your research and have thus, approved of the final version of the manuscript.
    <br>
    <br>
    <strong>Error</strong>
    <br>
    Should the authors discover an error in their data after the manuscript has already been submitted (or worse, published as an article), it is their responsibility to communicate this error to the editors as soon as possible.
    <br>
    <br>
    <strong>False referencing</strong>
    <br>
    All references given in the article should be genuine, appropriate and sensible. Giving irrelevant references just to make your manuscript appear more significant than it really is shall not be tolerated. Editors shall counter-check and verify the relevance of every citation make in the manuscript.
    <br>
    <br>
    <strong>Irrelevant self-referencing</strong>
    <br>
    Some authors will try to cite their own articles too much, even in instances where there articles are completely irrelevant and have no particular relationship to the current manuscript just in order to increase their h-index (see the description of h-index in the next chapter) and gain more ratings as a scientist. Editors will analyse every reference and citation, so, it is important to remain genuine and professional. Such conduct shall not be tolerated.

    <h3>POLICIES</h3>
    Policies are the agreements and legal constraints which shall exist between ASPAP, the authors and Amano publishers.
    Copyright and protecting author rights
    When an article has been finally published by ASPAP through the publishing company, the authors’ work shall be protected from plagiarism, fraud and any sorts of unethical conduct. Any persons trying to use or abuse any information presented in the article will be going against
    the copyright rights and will be risking being persecuted. ASPAP, together with Amano publishers shall strive to protect these rights by all means and take legal action where necessary. Copyright rights exist to protect the reputation of the original authors by making sure that the data is not used without permission, abused, misused or misinterpreted.
    <br>
    <br>
    <strong>Promoting and dissemination of the work</strong>
    <br>
    It shall be the prime goal of Amano publishers to promote and disseminate the journal, and thus, the published article to the proper audience. ASPAP and the author, shall as well take part in this process by sharing the work on various platforms online and distributing to colleagues. 
    <br>
    <br>
    <strong>Protecting marketable content</strong>
    <br>
    ASPAP’s aims and goals are for the betterment of physics and research in Zambia, therefore, profitable gain is not the motivation for ASPAP journals and publications. However, there shall be instances where some content will be inaccessible to the reader without a small subscription fee. This shall be implemented on all full articles and review letters, especially on the online version of the Journal. The policy on this is that the author will always have free access, and will be given a <strong>limited number of hard copies which he/she can disseminate to the public
    and for a limited amount of time on online platforms.</strong> The<strong> abstract</strong> of the article will, however, always be freely accessible to all other fully paid ASPAP members and they will not require to subscribe. They will have free access but not the right to distribute free copies of the article or share full versions of the soft copies freely. All earnings made from the journals shall be shared between ASPAP and Amano publishers.
    <br>
    <br>
    <strong>Citation count</strong>
    <br>
    Once the article has been indexed in the database of published material and finally published,
    it shall be the duty of Amano publishers to keep count of the citations and references and therefore, keep ASPAP updated with this information. ASPAP shall make this data available to its members through various means.
    Retraction of articles
    ASPAP and Amano Publishers reserve the right to retract any article that has been found to be fraud, plagiarized or contain invalid data.

  </div>
</div>

