.application_from{
	padding: 50px;
	border: 4px dotted #6495ED;
	margin-bottom: 20px;
}
#application{
	padding: 30px;
}
.application_name{
	margin-bottom: 20px;
	padding-top: 30px;
}
.form_download{
	padding: 40px;
	border-right: 2px solid grey;
	margin-top: 40px;
}
.application_portal{
	margin-bottom: 20px;
}