// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article{
	background-color: white;
	padding: 20px;
	border: 1px solid #ccc;
}
.article img{
	width: 100%;
	height: 500px;
	border: 1px solid #ccc;
}
#article-title{
	font-size: xx-large;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: initial;
}
#article-body{
	font-size: large;
	font-family: initial;
}