// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comments{
	padding: 50px;
}
.comment-body{

}
.comment{
	margin-bottom: 20px;
	padding: 20px;
	font-size: normal;
	font-style: italic;
	background:#F5F5F5;
	border: 1px solid #F8F8FF;	
}