// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.journal-header{
	font-size: large;
	text-align: center;
	background-color: #6495ED;
	color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-shadow:  2px 2px 2px 2px #888888;
	padding-top: 10px;
}
.main-content-journal{
	background-color: white;
	margin-bottom: 20px;
	padding-left:15px;
	padding-right:15px;
}

#note3 img{
	height: 50px;
	width: 50px;
}
.download{
	background-color: #FAEBD7;
	border: 1px solid #337ab7;
	color: #337ab7;
	border-radius: 4px;
	padding: 5px;
}

.download:hover{
	background-color:	#DEB887;
}
.aspap_journals{
	font-style: inherit;
	padding-right: 10%;
	text-align: justify;
	font-size: large;
	margin-bottom: 100px;
}

.journal_description{
	font-style: inherit;
	text-align: justify;
	font-size: large;
	margin-bottom: 100px;

}

.link_journal{
	padding: 20px;
	background-color: #F5F5F5;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}
.link_journal:hover{
	background-color: #F0FFFF;
}
#journal_iner{
	margin-left: 20px;
	padding: 10px;
	border-left: 2px solid #708090;
	color: black;
}
#link_journal_header{
	color: #4169E1;
}