// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.background {
  border: 1px solid #ccc;
  height: 400px;
  padding-top: 16%;
  padding-left: 6%;
  padding-right: 6%;
}

.Transparent-region{
	padding: 30px;
	text-align: center;
  position:relative;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(50,50,54,0.7);
  color: white;
}
.side-content{
	background-color:#FAEBD7;
	padding: 15px;
	border: 1px solid #ccc;
	color: #708090;
	text-align: center;
}
.side-content a:hover{
	font-size: small;
}

.side-content-bottom{
	text-align: center;
	margin-top: 20px;
	background-color: white;
	border: 1px solid #ccc;
	color: #6495ED;
}

.administrative{
	background-color: #4169E1;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.administrative a{
	color: white;
}
.administrative a:hover{
	color: #F8F8FF;
	font-size: small;
}

#side-content-links{
	margin-bottom: 20px;
}

.discussions{
	margin-top: 20px;
	text-align: center;
}
#blue-ribon{
	height: 50px;
	background-color:#6495ED;
	border: 1px solid #ccc;
}

.thumbnail-home{
	height: 200px;
	border: none;
}

.fadded{
	font-style:italic;
	color: grey; 
	max-height: 85px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	
}


.main-content{
	padding: 5%;
	background-color: white;
	border: 1px solid #ccc;
}
.slide-show{
	margin-bottom: 5%;
}
.middle{
	margin-bottom: 5%;
}
.bottom img{
	height: 400px;
	width: 100%;
}
.sub-title{
	text-align: center;
	color: #708090;
}
.sub-content{
	font-size: large;
	background-color: #F8F8FF;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: justify;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.notice-board{
	text-align: center;
}
#trunc_news{
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: small;
  resize: vertical;
}
.sub-item1{
	margin: 5%;
	padding: 10px;
	background-color: #6495ED;
	border-radius: 18px;
	text-align: center;
	font-family:cursive;
	font-size: large;
	box-shadow: 0px 3px 5px 0.5px rgba(0, 0, 0, 0.8);
	max-height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sub-item1:hover{
	background-color: #4169E1;
}
.sub-item2{
	margin: 5%;
	padding: 10px;
	background-color: orange;
	border-radius: 18px;
	text-align: center;
	font-family:cursive;
	font-size: large;
	box-shadow: 0px 3px 5px 0.5px rgba(0, 0, 0, 0.8);
	max-height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sub-item2:hover{
	background-color: #FF8C00;
}
.sub-item3{
	margin: 5%;
	padding: 10px;
	background-color: #708090;
	border-radius: 18px;
	text-align: center;
	font-family:cursive;
	font-size: large;
	box-shadow: 0px 3px 5px 0.5px rgba(0, 0, 0, 0.8);

}
.sub-item3:hover{
	background-color: #778899;
}
.sub-item4{
	margin: 5%;
	padding: 10px;
	background-color: #32CD32;
	border-radius: 18px;
	text-align: center;
	font-family:cursive;
	font-size: large;
	box-shadow: 0px 3px 5px 0.5px rgba(0, 0, 0, 0.8);
	max-height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sub-item4:hover{
	background-color: #4CAF50;
}
#trunc{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: white;
}
.join-discussions a{
	color: white;
}


.nav-hero-dropdown {
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 15px;
  width: 740px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out,top 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out,top 300ms ease-in-out;
  transition: opacity 300ms ease-in-out,top 300ms ease-in-out;
}
 
.brief-body{
	font-style:italic;
	color: grey; 
	max-height: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	font-size: small;
}
#thumb-title{
	color: grey; 
	max-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
#event_fade{
  position: relative;
  height: 3.6em; /* exactly three lines */
  overflow: hidden;
  resize: vertical;
  font-size: small;
  padding: 10px;
}
.fade_research{
  max-height: 120px;
  position: relative;
  overflow: hidden;

}

.fade_research .read_more{ 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, white);
}
.read_more{
	background-image: linear-gradient(to bottom, transparent, #F8F8FF);
}

