<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p style="font-weight: bold; text-decoration: underline;"><%= link_to  'Confirm your account on this link =' + @token, confirmation_url(@resource, confirmation_token: @token) %></p>

<p style="margin-top: 30px; font-size: small;"> If the above link is unclackable, maybe this email is in your spam? Please move it to your inbox and the link should be clickable.</p>