<div class="row footer">
	<div class="col-md-4"></div>
	<div class="col-md-4 footer_col">
		<div class="socil-icons">
		  <ul class="social">
		      <li> <a href="https://web.facebook.com/amanophysics/"> <i class=" fa fa-facebook">   </i> </a> </li>
		      <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
		      <li> <a href="https://www.linkedin.com/company/the-aspap/"> <i class="fa fa-linkedin">   </i> </a> </li>
		      <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
		  </ul>
	  </div>
  </div>
  <div class="col-md-4"></div>
</div>